language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
dist: xenial
install:
  - "pip install pip --upgrade"
  - "pip install -r tests-requirements.txt"
  - "pip install -r requirements.txt"
script:
  ./tests.sh
after_success:
  coveralls
env:
  global:
    - DOTDROP_FORCE_NODEBUG=
    - DOTDROP_NOBANNER=
