Jinja2; python_version > '3.4'
docopt; python_version > '3.4'
ruamel.yaml; python_version > '3.4'
python-magic; python_version > '3.4'
packaging; python_version > '3.4'
requests; python_version > '3.4'
toml; python_version > '3.4'
distro; python_verison > '3.5'