pycodestyle; python_version > '3.5'
pytest; python_version > '3.5'
coverage; python_version > '3.5'
coveralls; python_version > '3.5'
pyflakes; python_version > '3.5'
pylint; python_version > '3.5'
halo; python_version > '3.5'
distro; python_version > '3.5'
urllib3; python_version > '3.5'