pycodestyle; python_version > '3.4'
nose2; python_version > '3.4'
coverage; python_version > '3.4'
coveralls; python_version > '3.4'
pyflakes; python_version > '3.4'
pylint; python_version > '3.4'
halo; python_version > '3.4'
distro; python_verison > '3.4'
