pycodestyle; python_version > '3.5'
pytest; python_version > '3.5'
coverage; python_version > '3.5'
coveralls; python_version > '3.5'
flake8; python_version > '3.5'
pylint; python_version > '3.5'
halo; python_version > '3.5'
distro; python_version > '3.5'
urllib3; python_version > '3.5'
pytype; python_version > '3.0'
mypy; python_version > '3.0'
types-requests; python_version > '3.0'