name: test-doc
on: [push, pull_request, workflow_dispatch]
jobs:
  test-doc:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tests-requirements.txt
        npm install -g remark-cli remark-validate-links
    - name: Check the doc
      run: |
        ./scripts/check-doc.sh
